<% layout('layout') %>

<form id="login" action="/auth/login" method="post" class="form-inline" role="form">
<br><br><br><br><br><br><br><br><br><br><br><br>
<table id="t01" align="center" border="4px" style="width:25%" border-radius="2px">
	<div class="form-grosup" role="form">
		<tr>
			<td>
				<p align="center"><b><label for="username">LOG IN </label><br /></b></p>
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" class="form-control1"  name="username" placeholder="username" autofocus />
			</td>
		</tr>
		<tr>
			<td>
				<input type="password" class="form-control1"   name="password" placeholder="password"/>
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" name="OK" value="sign in" class="btn btn-raised1 btn-success1" >
			</td>
		</tr>
	</div>
</table>
</form>
</br></br><br><br><br><br><br><br><br><br><br><br><br><br></br>
	<div class="panel-footer">
		copyright@STMIK AKAKOM Yogyakarta
	</div>


